{% extends "backend/base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Siddata's digital brain</h1>
    <p class="lead"> SIDDATA is the Joint project for Individualization of Studies through Digital, Data-Driven Assistants.
      <br>Welcome to the server where the magic happens.
    </p>
    <a href="https://www.siddata.de/en/">Read more</a>

   <!--
   <a class="btn btn-lg btn-primary" href="/docs/4.2/components/navbar/" role="button">View navbar docs &raquo;</a>
   -->
  </div>



{% endblock %}
